*{
      padding: 0;
      margin: 0;
      box-sizing: border-box;
}

:root{
      --border-color: #d9d6d6;
      --text-color: #ffffff;
      --main-color: #efabf4;
      --border-color-cd: #c1202f;
      --btn-color: #d7d9dd;
      --playing-text: #760dee;
      --playing-text-title: #de0e84;
}

.btn:hover{
      cursor: pointer;
}

.btn{
      font-size: 20px;
}

.player{
      display: flex;
      flex-direction: column;
      position: relative;
      max-width: 480px;
      margin: 50px auto 0;
      background-size: cover;
}

.player.playing .fa-play{
      display: none;
}
.player.playing .fa-pause{
      display: block;
}

.btn-shuffle-repeat.repeat .fa-shuffle{
      display: none;
}
.btn-shuffle-repeat.repeat .fa-repeat{
      display: block;
}

.btn-shuffle-repeat.shuffle .fa-shuffle{
      display: block;
}
.btn-shuffle-repeat.shuffle .fa-repeat{
      display: none;
}


.div{
      display: block;
}


#background{
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      min-height: 100vh;
      opacity: 0.5;
      z-index: -1;
      position: fixed;
      top: 0;
      left: 0;
}

.dashboard{
      z-index: 1;
      display: flex;
      flex-shrink: 0;
      width: 100%;
      max-width: 480px;
      height:max-content;
      padding: 16px 16px 14px;
      background-color: var(--main-color);
      border-radius: 10px;
      position: fixed;
      border-bottom: 1px solid var(--border-color);
      transition: background-color 0.3s;
      flex-direction: column;
}

.search-bar,
.control{
      display: block;
}

.control > i {
      padding: 4px;
      opacity: 0.8;
}

.control > i:hover{
      cursor: pointer;
      opacity: 1;
      transition: 0.2s;
}

.btn-toggle-play .fa-pause{
      display: none;
}

.btn-shuffle-repeat .fa-repeat{
      display: none;
}



.search-bar{
      width: 100%;
}

.search-bar input{
      border: 1px solid #ffffff;
      height: 24px;
      width: 100%;
      border-radius: 14px;
      padding-left: 20px;
}

.search-bar i{
      position: absolute;
      right: 25px;
      top: 20px;

}

header{
      display: block;
      margin-top: 8px;
}

header h2{
      text-align: center;
      font-size: 24px;
      color: var(--playing-text-title);
      margin: 0 auto 10px;
}

header h4{
      text-align: center;
      color: var(--playing-text);
}

.song-info{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
}

.song-info .icon{
      font-size: 18px;
}

.volumn-control{
      position: absolute;
      cursor: pointer;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
}

/* dùng để hiện thị khi bấm vào nút loa  */
.volumn-control.volumn-active > #volumn{
      display: block;
}

.volumn-control,
.option{
      display: inline-block;
      position: relative;
}

.volumn-control #volumn{
      writing-mode: vertical-lr;   
      display: none;
      -webkit-appearance: slider-vertical; 
      transform: rotate(-180deg);
      position: absolute;
      margin: 0 auto;
      justify-content: center;
      align-items: center;
      width: 8px;
      height: 100px;
      top: 20px;
      right: 8px; 
}

.cd{
      position: relative;
      width: 200px;
      margin: 0 auto;
      aspect-ratio: 1/1;
      border-radius: 100%;
      border: 1px solid var(--border-color-cd);
      background-size: cover;
}

.control{
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: 18px 0 8px 0;;
}

.control .btn-toggle-play > i{      
      align-content: center;
      color: var(--main-color);
      background-color: var(--playing-text);
      width: 40px;
      aspect-ratio: 1/1;
      border-radius: 100%;
}

.shuffle{
      display: block;
      color: var(--playing-text);
}

.repeat{
      display: block;
      color: var(--playing-text);
}

#progress{
      display: block;
      color: blue;
      opacity: 0.7;
      width: 100%;
      height: 20px;
      outline: none;
      -webkit-transition: .2s;
      transition: opacity .2s;
      cursor: pointer;
}

#progress:hover{
      opacity: 1;
}

#progress::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

.playlist{
      scrollbar-width: none;
      flex: 1;
      margin-top: 428px;
      overflow-y: auto;
}

.playlist::-webkit-scrollbar{
      display: none;
}

.song{
      display: flex;
      align-items: center;
      width: 95%;
      margin: 0 auto 12px;
      background-color: var(--main-color);
      padding: 8px 16px;
      box-shadow: 0 2px 3px #f1d6d6;
      border: 1px solid var(--border-color);
}

.song.active{
      border: 2px solid var(--playing-text);
      box-shadow: 0 3px 4px #b724e1;
}

.song:active{
      opacity: 0.8;
}

.song.active h3{
      color: var(--playing-text-title);
      font-weight: bold;
      font-style: italic;
}

.song .fa-trash{
      color: var(--playing-text);
}

.song.active .fa-trash{ 
      display: none;
}

.song.active p{
      color: var(--playing-text);
      font-weight: bold;
      font-style: italic;
}



.song .musicImage{
      display: inline-block;
      position: relative;
      margin: 0 14px;
      width: 50px;
      height: 50px;
      border-radius: 100%;
      border: 1px solid var(--border-color-cd);
      background-size: cover;
}


.song .body{
      flex: 1;
      padding: 0 16px;
}

.song .delete-btn{
      /* padding: 16px 8px; */
      color: var(--btn-color);
      font-size: 18px;
      opacity: 0.9;
}

.song .delete-btn > i:hover{
      color: #ca0379;
      transition: 0.2s;
      opacity: 1;
}
