* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    background-color: #fff;
}

.main {
    width: 1200px;
    min-height: 100vh;
    max-width: 100%;
    margin: auto;
    padding-bottom: 20px;
}

.nav {
    display: flex;
    align-items: center;
    height: 48px;
    background-color: #333;
}

.nav__list {
    display: flex;
    list-style: none;
}

.nav__link {
    text-decoration: none;
    color: #fff;
    margin-right: 48px;
}

/* Article */
h1 {
    line-height: 2rem;
}

article {
    padding: 0 16px;
    line-height: 1.6rem;
}

article img {
    width: 640px;
    max-width: 100%;
    display: block;
    margin: 32px auto;
}

.nav__overlay{
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.3);
        display: none;
        animation: fadeIn 0.2s linear;
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.nav__mobile{
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    width: 320px;
    max-width: 100%;
    background-color: #fff;
    transform: translateX(-100%);
    opacity: 0;
    transition: transform linear 0.2s, opacity linear 0.2s;
}

.nav__mobile-list{
    list-style: none;
    margin-top: 24px;
    padding-left: 0;
}

.nav__mobile-link{
    display: block;
    padding: 12px 12px;
    text-decoration: none;
    color: #000;
    font-size: 20px;
}

.nav__close-btn{
    color: #666;
    font-size: 20px;
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px;
    cursor: pointer;
}


/* mobile nav */
.nav__bars-btn{
    color: white;
    font-size: 28px;
    margin-left: 8px;
    display: none;
    cursor: pointer;
}

.nav__input:checked ~ .nav__overlay{
    display: block;
    
}

.nav__input:checked ~ .nav__mobile{
    transform: translateX(0);
    opacity: 1;
}

@media only screen and (max-width: 63.9375em){
    .nav__bars-btn{
        display: block;
    }
    .nav__pc{
        display: none;
    }
}